.hero {
  display: flex;
}

.hero__image {
  width: 50%;
}

.content-wrapper {
  width: 50%;
}

.login-wrapper,
.menu {
  display: flex;
  justify-content: flex-end;
}

.menu {
  li + li {
    margin-left: 3.4375rem;
  }
  .menu__link {
    text-decoration: none;
    font-size: 1.125rem;
  }
}

.login-wrapper {
  .login-link + .login-link {
    margin-left: 3.4375rem;
  }
  a {
    text-decoration: none;
    font-size: 0.875rem;
    margin-top: 2.875rem;
    margin-bottom: 1.5625rem;
  }
}

.intro__title {
  font-size: 2.375rem;
  text-align: center;
  letter-spacing: -0.76px;
  line-height: 55px;
  position: relative;
}

.intro__button {
  font-size: 2.375rem;
  font-weight: 300;
}
