/* Nav */
.hero {
  display: flex;
}

.hero__image {
  width: 50%;
}

.content-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.login-wrapper,
.menu {
  display: flex;
  justify-content: flex-end;
}

.menu {
  li + li {
    margin-left: 3em;
  }
  .menu__link {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
  }
}

.login-wrapper {
  .login-link + .login-link {
    margin-left: 3em;
  }
  a {
    text-decoration: none;
    font-size: 0.8rem;
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

.intro__title,
.steps__title {
  font-size: 2rem;
  text-align: center;
  letter-spacing: -0.76px;
  line-height: 55px;
  position: relative;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.intro__form-link {
  font-size: 1.3rem;
  padding: 0.5em 0;
  border: 1px solid black;
  min-width: 183px;
  text-decoration: none;
  text-align: center;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 3;
}

/* Three columns */
.three-columns-wrapper {
  background-image: url(../../assets/3-columns-background.png);
}
.three-columns {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.article-statistics {
  width: 20%;
  text-align: center;
  padding: 3em 0 2.5em;
}

.article-statistics__title {
  font-size: 4rem;
  margin-bottom: 0.3em;
}

.article-statistics__subtitle {
  font-size: 1rem;
  margin-bottom: 1em;
}

.article-statistics__text {
  font-size: 0.8rem;
}

/* Three Steps */
.steps {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  .intro__form-link {
    align-self: center;
    margin: 2rem 0 4rem;
  }
}

.steps-background {
  background: $cultured;
  padding: 3em 0;
  margin-top: 3em;
}

.steps-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 85%;
  margin: 0 auto;
}

.steps__title {
  font-size: 2rem;
  text-align: center;
  letter-spacing: -0.76px;
  line-height: 55px;
  position: relative;
}

.steps__text {
  text-align: center;
  padding: 0.5rem 0;
}

/* About Us */
.about-us {
  display: flex;
  margin-bottom: 4em;
}

.text-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 3em 5em 3em 0;
  text-align: center;
  background: $cultured;
}

.about-us__title {
  font-size: 2rem;
}

p.about-us__text {
  max-width: 400px;
  line-height: 2rem;
}

img.about-us__image {
  width: 50%;
}

/* Who we help */
.who-we-help {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.who-we-help__title {
  font-size: 2rem;
  text-align: center;
  letter-spacing: -0.76px;
  margin-bottom: 2rem;
}

.category-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.who-we-help__button {
  padding: 0.6em 1.3em;
  font-size: 1.3rem;
  border: none;
  background: none;
  margin: 1rem 0;
  cursor: pointer;
  &:focus,
  &:hover {
    outline: 1px solid black;
  }
}

.who-we-help__text {
  font-size: 1rem;
  text-align: center;
  width: 35%;
  max-width: 500px;
  margin: 2rem 0;
  line-height: 1.5rem;
}

.organizations-wrapper {
  width: 100%;
}

.organization {
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
  &:not(:last-child) {
    border-bottom: 1px solid black;
  }
}

/* Contact */
.background-wrapper {
  background-image: url(../../assets/background-contact-form.jpg);
  background-size: cover;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 0;
  }
}

.contact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  font-family: $font-base;
  color: $onyx;
  padding: 2em;
  position: relative;
  label {
    font-size: 1rem;
    font-weight: bold;
  }
  input,
  textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $sonic-silver;
    padding: 0.3em;
    background: none;
  }
  textarea {
    margin-top: 1em;
  }
}

.form-button {
  align-self: flex-end;
  padding: 0.6em 1.3em;
  margin-top: 1em;
  font-size: 1rem;
  background: #fff;
  border: 1px solid black;
  cursor: pointer;
}

.form-section-wrapper {
  display: flex;
  justify-content: space-between;
}

.form-section {
  display: grid;
  margin-bottom: 1em;
}

.contact-form__title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2em;
  position: relative;
  &::after {
    content: "";
    display: block;
    background-image: url(../../assets/Decoration.svg);
    width: 50%;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 27%;
    top: 120%;
  }
}

.contact-form__error {
  font-size: 0.8rem;
  color: red;
  font-family: $font-base;
}

.contact-form__success {
  font-size: 1rem;
  max-width: 220px;
  color: green;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  align-self: center;
  line-height: 1.5;
}

.page-footer-text {
  text-align: center;
}
